<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
  

  <!--upper buttons-->
  <div class="container-fluid" class="vertical-center"  style="background-color:lightblue" >
    <div class="row page"  >
      <div class ="col-3"  style="background-color: #DCF9F9;"  > 
       <h4>
            Home page </h4>
      </div>  
      <div class="col-3">
        <a href="/chat">
          <button class="btup" class="vertical-center">chat</button>
        </a>  
      </div>
      <div class="col-3">
        <a href="/ST">
          <button>ST</button>
        </a>  
      </div>
      <div class="col-3">
        <a href="/gossip">
          <button>gossip</button>
        </a>  
      </div>
      
    </div> <!-- /.row -->
  </div>
  
  <script src="script.js"></script>
<br><br><br><br><br>
<div class="row" style="background-color: whitesmoke;"> <br></div>
<div  class='row' style="background-color: whitesmoke;">
  <div class="col-2"></div>
  <div class="col-8">
 <label><h1 style="background-color: whitesmoke; text-align: center; color: #577590">No more annoying fandoms! </h1> <!--name of our website-->
</label>
  <br><!--intro-->
    <label style="color: #D78A76;background-color: whitesmoke; text-align: center;">I invision a world where no one is bothered by obsessive fans
    </label>
</div>
  <div class="col-2"></div>
<div class="row" style="background-color: whitesmoke;"><br> <!--a space between each paragraph with colored background-->
</div>
</body>

</html>